<div class="card">
  <div class="card-header"><h2>Bubble Map</h2></div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="d-flex">
          <input
            type="checkbox"
            class="checkbox"
            (click)="updateList('A')"
            checked
          /><label class="mr-1">group A</label>
          <input
            type="checkbox"
            class="checkbox"
            (click)="updateList('B')"
            checked
          /><label>group B</label>
          <input
            type="checkbox"
            class="checkbox"
            (click)="updateList('C')"
            checked
          /><label>group C</label>
        </div>
        <app-map
          chartName="Map"
          [data]="pieData"
          [selectedGroups]="selectedGroups"
        ></app-map>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
</div>
