body {
  max-width: initial;
  background-color: #000;
  color: var(--text-color);
}
footer {
  background: var(--nc-bg-2);
  border-bottom: 1px solid var(--nc-bg-3);
  padding: 2rem 1.5rem;
  margin: 2rem calc(0px - (50vw - 50%)) -2rem;
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}
.text-primary-800 {
  color: var(--primary-800) !important;
}
.label {
  color: var(--primary-800) !important;
}
.domain {
  color: var(--primary-800) !important;
}
