<div class="card">
  <div class="card-header"><h2 class="text-primary-800">Sankey</h2></div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <app-force-directed
          chartName="barChart"
          [data]="chartData_2D_1"
        ></app-force-directed>
      </div>
      <div class="col-md-12 col-lg-6">
        <strong class="text-primary-800"
          >Tag:
          <p-tag value="MouseOver" styleClass="me-1"></p-tag>
          <p-tag value="Click" styleClass="me-1"></p-tag>
          <p-tag value="RWD" styleClass="me-1"></p-tag>
          <p-tag value="LazyLoad" styleClass="me-1"></p-tag>
        </strong>
        <p class="text-primary-800">
          基礎型力向圖模組，具有拖拉事件、滑鼠滑動(MouseOver)事件即時顯示數值的功能，同時具有點擊觸發事件顯示點擊資料，可透過Console進行事件的瀏覽。。
        </p>
        <p class="text-primary-800">
          <strong> 開發時參考資源:</strong>
          <br />
          <a href="https://jsfiddle.net/spiker830/07943tko/"></a>
          https://jsfiddle.net/spiker830/07943tko/
        </p>
      </div>
    </div>
  </div>
</div>
