<div class="card">
  <div class="card-header"><h2 class="text-primary-800">Sankey</h2></div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <app-sankey chartName="barChart" [data]="chartData_2D_1"></app-sankey>
      </div>
      <div class="col-md-12 col-lg-6">
        <strong class="text-primary-800"
          >Tag:
          <p-tag value="MouseOver" styleClass="me-1"></p-tag>
          <p-tag value="Click" styleClass="me-1"></p-tag>
          <p-tag value="RWD" styleClass="me-1"></p-tag>
          <p-tag value="LazyLoad" styleClass="me-1"></p-tag>
        </strong>
        <p class="text-primary-800">
          基礎型沖積圖模組，具有滑鼠滑動(MouseOver)時即時顯示路徑指向與數值的功能，具有點擊觸發事件顯示點擊資料，可透過Console進行事件的瀏覽。
        </p>
        <p class="text-primary-800">
          <strong> 開發時參考資源:</strong>
          <br />
          <a
            href="https://stackblitz.com/edit/angular-ivy-hw9dhn?file=src%2Fapp%2Fsankey%2Fsankey.component.ts"
          ></a>
          https://stackblitz.com/edit/angular-ivy-hw9dhn?file=src%2Fapp%2Fsankey%2Fsankey.component.ts
          <br />
          <a
            href="https://gist.github.com/d3noob/102603765773940cae0e16128929c0a9"
            >https://gist.github.com/d3noob/102603765773940cae0e16128929c0a9</a
          >
          <br />
          <a href="https://d3-graph-gallery.com/graph/sankey_basic.html"
            >https://d3-graph-gallery.com/graph/sankey_basic.html</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
