<div class="card">
  <div class="card-header"><h2 class="text-primary-800">Sankey</h2></div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <app-sankey chartName="barChart" [data]="chartData_2D_1"></app-sankey>
      </div>
      <div class="col-md-12 col-lg-6">
        <strong class="text-primary-800"
          >Tag:
          <p-tag value="MouseOver" styleClass="me-1"></p-tag>
          <p-tag value="Click" styleClass="me-1"></p-tag>
          <p-tag value="RWD" styleClass="me-1"></p-tag>
          <p-tag value="LazyLoad" styleClass="me-1"></p-tag>
        </strong>
        <p class="text-primary-800">
          基礎型泳道圖模組，具有滑鼠滑動(MouseOver)時即時顯示長條圖欄位名稱與數值的功能
          <!-- ，並能配合RWD在不需重新載入的情境下變更Y軸與X軸標籤的級距和標籤樣式，同時具有點擊觸發事件顯示點擊資料，可透過Console進行事件的瀏覽。 -->
        </p>
      </div>
    </div>
  </div>
</div>
