<div class="container text-white">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-12">
          <h2>網頁簡介</h2>
          <p>
            這個網頁主要是用來記錄D3.js在Angular環境中的開發過程以及元件實作，主要開發元件項目是依循Yan
            Holtz大大的
            <a
              href="https://d3-graph-gallery.com/index.html"
              target="_blank"
              class="text-white"
              >圖表類別 </a
            >進行分類後根據自身開發經驗後元件開發，所以如有巧合與雷同不是意外，還請見諒。
            <em class="fa-regular fa-face-laugh-squint"></em>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2>背景架構</h2>
          <ol>
            <li>Angular版本: ~13.3.0</li>
            <li>D3.JS版本: ^7.8.2</li>
            <li>PrimeNG版本: ^13.4.1</li>
            <li>FontAwesome版本: 6.3.0</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2>開發歷程</h2>
          <ul>
            <li>2023.03.06 - 初步完成 d3 套入與 RWD 化</li>
            <li>
              2023.03.07 - primeNG@13 套入&架構重構&添加路由&layoutTemplates
            </li>
            <li>2023.03.08 - 圖表切分路徑切分&初始化結束</li>
            <li>2023.03.10 - 地圖元件開發</li>
            <li>2023.03.14 - fontAwesomeIcon@6 引用</li>
            <li>2023.03.16 - 沖積圖(Sankey)元件開發</li>
            <li>2023.03.29 - 盒狀圖(Box Plot)元件開發</li>
            <li>2023.04.01 - 折線圖元件開發</li>
            <li>2023.04.04 - 力向圖(Force Directed)元件開發</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
