<div class="container text-white">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-12">
          <h2>Introduction</h2>
          <p>
            This webpage is primarily used to document the development process
            and component implementation of D3.js in an Angular environment.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2>Background Architecture</h2>
          <ol>
            <li>Angular: ~13.3.0</li>
            <li>D3.JS: ^7.8.2</li>
            <li>PrimeNG: ^13.4.1</li>
            <li>FontAwesome: 6.3.0</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2>開發歷程</h2>
          <ul>
            <li>2023.03.06 - 初步完成 d3 套入與 RWD 化</li>
            <li>
              2023.03.07 - primeNG@13 套入&架構重構&添加路由&layoutTemplates
            </li>
            <li>2023.03.08 - 圖表切分路徑切分&初始化結束</li>
            <li>2023.03.10 - 地圖元件開發</li>
            <li>2023.03.14 - fontAwesomeIcon@6 引用</li>
            <li>2023.03.16 - 沖積圖(Sankey)元件開發</li>
            <li>2023.03.29 - 盒狀圖(Box Plot)元件開發</li>
            <li>2023.04.01 - 折線圖元件開發</li>
            <li>2023.04.04 - 力向圖(Force Directed)元件開發</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
